<h2>User info</h2>
  <%= form_with model:@user, local:true do |f| %>
    <label for="inputName">Name</label>
      <div>
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
      </div>
      <p>Image</p>
        <div>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
        </div>
      <p>Introduction</p>
      <div>
        <%= f.text_area :introduction %>
      </div>
       <div>
         <%= f.submit "Update User" %>
       </div>
  <% end %>