<div class="container">
  <div class="row">
    <%= render 'users/list', user:@user, book:@bookers %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
      <thead>
       </thead>
          <tr>
            <td>
              <div>
                <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
              </div>
                <%=  link_to @user.name, user_path(@user.id) %>
            </td>

              <td><%= link_to @book.title,book_path(@book.id) %></td>
              <td><%= @book.body %></td>
            <% if @book.user == current_user %>
              <td><%= link_to 'Edit' ,edit_book_path(@book.id), class: "btn btn-sm btn-success edit_book_34976" %></td>
              <td><%= link_to 'Destroy' ,book_path(@book.id), method: :delete, class: "btn btn-sm btn-danger destroy_book_34976"%></td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
          </tr>
      </table>
    </div>
  </div>
</div>